src/desk_usage_flows.json
[
    {
        "id": "77c163b0639d1fbd",
        "type": "tab",
        "label": "Table Occupancy Simulation",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "662c680038b0747f",
        "type": "inject",
        "z": "77c163b0639d1fbd",
        "name": "table_1_seat_1",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "3",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "table_1_seat_1",
        "payload": "{   \"Desk ID\": 1,   \"Seat ID\": 1,   \"Start Time\": \"23/11/2023 06:45\",   \"End Time\": \"23/11/2023 08:30\",   \"Duration\": 105,   \"Peak Time Occupancy\": false }",
        "payloadType": "json",
        "x": 310,
        "y": 200,
        "wires": [
            [
                "abf7b14d2e598d1a",
                "4c80d104d462e6fb"
            ]
        ]
    },
    {
        "id": "2a2ca56484979dee",
        "type": "inject",
        "z": "77c163b0639d1fbd",
        "name": "table_1_seat_2",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "table_1_seat_2",
        "payload": "{   \"Desk ID\": 1,   \"Seat ID\": 2,   \"Start Time\": \"23/11/2023 06:45\",   \"End Time\": \"23/11/2023 08:30\",   \"Duration\": 105,   \"Peak Time Occupancy\": false }",
        "payloadType": "json",
        "x": 310,
        "y": 260,
        "wires": [
            [
                "b159abed04c469b6",
                "4c80d104d462e6fb"
            ]
        ]
    },
    {
        "id": "245086c677bbbcd7",
        "type": "inject",
        "z": "77c163b0639d1fbd",
        "name": "table_1_seat_3",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "7",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "table_1_seat_3",
        "payload": "{   \"Desk ID\": 1,   \"Seat ID\": 3,   \"Start Time\": \"23/11/2023 06:45\",   \"End Time\": \"23/11/2023 08:30\",   \"Duration\": 105,   \"Peak Time Occupancy\": false }",
        "payloadType": "json",
        "x": 310,
        "y": 320,
        "wires": [
            [
                "8c07203e3594d8c3",
                "4c80d104d462e6fb"
            ]
        ]
    },
    {
        "id": "cfc093a6b3783daa",
        "type": "inject",
        "z": "77c163b0639d1fbd",
        "name": "table_1_seat_4",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "11",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "table_1_seat_4",
        "payload": "{   \"Desk ID\": 1,   \"Seat ID\": 4,   \"Start Time\": \"23/11/2023 06:45\",   \"End Time\": \"23/11/2023 08:30\",   \"Duration\": 105,   \"Peak Time Occupancy\": false }",
        "payloadType": "json",
        "x": 310,
        "y": 380,
        "wires": [
            [
                "1ee7ac2301a22bf2",
                "4c80d104d462e6fb"
            ]
        ]
    },
    {
        "id": "abf7b14d2e598d1a",
        "type": "debug",
        "z": "77c163b0639d1fbd",
        "name": "table_1_seat_1_debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 200,
        "wires": []
    },
    {
        "id": "b159abed04c469b6",
        "type": "debug",
        "z": "77c163b0639d1fbd",
        "name": "table_1_seat_2_debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 260,
        "wires": []
    },
    {
        "id": "8c07203e3594d8c3",
        "type": "debug",
        "z": "77c163b0639d1fbd",
        "name": "table_1_seat_3_debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 320,
        "wires": []
    },
    {
        "id": "1ee7ac2301a22bf2",
        "type": "debug",
        "z": "77c163b0639d1fbd",
        "name": "table_1_seat_4_debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 380,
        "wires": []
    },
    {
        "id": "4c80d104d462e6fb",
        "type": "function",
        "z": "77c163b0639d1fbd",
        "name": "CSV_Write_Function",
        "func": "// Function to generate a random date within the next two weeks\nfunction getRandomDate() {\n    var start = new Date();\n    var end = new Date();\n    end.setDate(start.getDate() + 14); // Two weeks from now\n    return new Date(start.getTime() + Math.random() * (end.getTime() - start.getTime()));\n}\n\n// Function to format date to a readable string\nfunction formatDate(date) {\n    var day = (\"0\" + date.getDate()).slice(-2);\n    var month = (\"0\" + (date.getMonth() + 1)).slice(-2);\n    var year = date.getFullYear();\n    var hours = (\"0\" + date.getHours()).slice(-2);\n    var minutes = (\"0\" + date.getMinutes()).slice(-2);\n    return `${day}/${month}/${year} ${hours}:${minutes}`;\n}\n\n// Extract \"Desk ID\" and \"Seat ID\" from msg.topic\nvar topicParts = msg.topic.split('_');\nvar deskId = topicParts[1];\nvar seatId = topicParts[3];\n\n// Generate random start and end times\nvar startDate = getRandomDate();\nvar endDate = new Date(startDate.getTime());\nvar durationMinutes = 15 + Math.floor(Math.random() * ((4 * 60) - 15));\nendDate.setMinutes(startDate.getMinutes() + durationMinutes);\n\n// Check if the end date is actually after the start date, if not adjust\nif (endDate <= startDate) {\n    endDate = new Date(startDate.getTime());\n    endDate.setMinutes(startDate.getMinutes() + durationMinutes);\n}\n\n// Format dates to strings\nvar startStr = formatDate(startDate);\nvar endStr = formatDate(endDate);\n\n// Create message payload with dynamic Desk ID and Seat ID\nmsg.payload = {\n    \"Desk ID\": parseInt(deskId, 10),\n    \"Seat ID\": parseInt(seatId, 10),\n    \"Start Time\": startStr,\n    \"End Time\": endStr,\n    \"Duration (Minutes)\": durationMinutes, // Ensure this key matches the CSV column header\n    \"Peak Time Occupancy\": Math.random() >= 0.5 // Randomly true or false\n};\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 2180,
        "wires": [
            [
                "c94de10a87d2632d"
            ]
        ]
    },
    {
        "id": "c94de10a87d2632d",
        "type": "csv",
        "z": "77c163b0639d1fbd",
        "name": "CSV Parser",
        "sep": ",",
        "hdrin": true,
        "hdrout": "once",
        "multi": "one",
        "ret": "\\n",
        "temp": "Desk ID, Seat ID, Start Time, End Time, Duration (Minutes), Peak Time Occupancy",
        "skip": "0",
        "strings": true,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 890,
        "y": 2180,
        "wires": [
            [
                "e09a19ac4907bced",
                "41928b7f79a77ada"
            ]
        ]
    },
    {
        "id": "e09a19ac4907bced",
        "type": "debug",
        "z": "77c163b0639d1fbd",
        "name": "CSV_Parser_Debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1140,
        "y": 2180,
        "wires": []
    },
    {
        "id": "41928b7f79a77ada",
        "type": "file",
        "z": "77c163b0639d1fbd",
        "name": "WriteToCSV",
        "filename": "C:\\Users\\wspal\\OneDrive\\Documents\\Simulation\\simulation.csv",
        "filenameType": "str",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "utf8",
        "x": 1110,
        "y": 2240,
        "wires": [
            []
        ]
    },
    {
        "id": "13bd06f42ef5d1a1",
        "type": "inject",
        "z": "77c163b0639d1fbd",
        "name": "table_2_seat_1",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "table_2_seat_1",
        "payload": "{   \"Desk ID\": 2,   \"Seat ID\": 1,   \"Start Time\": \"23/11/2023 06:45\",   \"End Time\": \"23/11/2023 08:30\",   \"Duration\": 105,   \"Peak Time Occupancy\": false }",
        "payloadType": "json",
        "x": 310,
        "y": 460,
        "wires": [
            [
                "bd0daafb3035aa2b",
                "4c80d104d462e6fb"
            ]
        ]
    },
    {
        "id": "7606634cee5fc2c5",
        "type": "inject",
        "z": "77c163b0639d1fbd",
        "name": "table_2_seat_2",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "17",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "table_2_seat_2",
        "payload": "{   \"Desk ID\": 2,   \"Seat ID\": 2,   \"Start Time\": \"23/11/2023 06:45\",   \"End Time\": \"23/11/2023 08:30\",   \"Duration\": 105,   \"Peak Time Occupancy\": false }",
        "payloadType": "json",
        "x": 310,
        "y": 520,
        "wires": [
            [
                "1ad95074f58c7726",
                "4c80d104d462e6fb"
            ]
        ]
    },
    {
        "id": "7e5733cd93b2c853",
        "type": "inject",
        "z": "77c163b0639d1fbd",
        "name": "table_2_seat_3",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "4",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "table_2_seat_3",
        "payload": "{   \"Desk ID\": 2,   \"Seat ID\": 3,   \"Start Time\": \"23/11/2023 06:45\",   \"End Time\": \"23/11/2023 08:30\",   \"Duration\": 105,   \"Peak Time Occupancy\": false }",
        "payloadType": "json",
        "x": 310,
        "y": 580,
        "wires": [
            [
                "0a6336c5bd952de9",
                "4c80d104d462e6fb"
            ]
        ]
    },
    {
        "id": "cb87f23367e8a4d3",
        "type": "inject",
        "z": "77c163b0639d1fbd",
        "name": "table_2_seat_4",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "8",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "table_2_seat_4",
        "payload": "{   \"Desk ID\": 2,   \"Seat ID\": 4,   \"Start Time\": \"23/11/2023 06:45\",   \"End Time\": \"23/11/2023 08:30\",   \"Duration\": 105,   \"Peak Time Occupancy\": false }",
        "payloadType": "json",
        "x": 310,
        "y": 640,
        "wires": [
            [
                "76dcfdc1232c9394",
                "4c80d104d462e6fb"
            ]
        ]
    },
    {
        "id": "bd0daafb3035aa2b",
        "type": "debug",
        "z": "77c163b0639d1fbd",
        "name": "table_2_seat_1_debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 460,
        "wires": []
    },
    {
        "id": "1ad95074f58c7726",
        "type": "debug",
        "z": "77c163b0639d1fbd",
        "name": "table_2_seat_2_debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 520,
        "wires": []
    },
    {
        "id": "0a6336c5bd952de9",
        "type": "debug",
        "z": "77c163b0639d1fbd",
        "name": "table_2_seat_3_debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 580,
        "wires": []
    },
    {
        "id": "76dcfdc1232c9394",
        "type": "debug",
        "z": "77c163b0639d1fbd",
        "name": "table_2_seat_4_debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 640,
        "wires": []
    },
    {
        "id": "89c095846847e978",
        "type": "inject",
        "z": "77c163b0639d1fbd",
        "name": "table_3_seat_1",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "table_3_seat_1",
        "payload": "{   \"Desk ID\": 3,   \"Seat ID\": 1,   \"Start Time\": \"23/11/2023 06:45\",   \"End Time\": \"23/11/2023 08:30\",   \"Duration\": 105,   \"Peak Time Occupancy\": false }",
        "payloadType": "json",
        "x": 310,
        "y": 720,
        "wires": [
            [
                "665146974e0e8baa",
                "4c80d104d462e6fb"
            ]
        ]
    },
    {
        "id": "862d38c5a4d00e4f",
        "type": "inject",
        "z": "77c163b0639d1fbd",
        "name": "table_3_seat_2",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "14",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "table_3_seat_2",
        "payload": "{   \"Desk ID\": 3,   \"Seat ID\": 2,   \"Start Time\": \"23/11/2023 06:45\",   \"End Time\": \"23/11/2023 08:30\",   \"Duration\": 105,   \"Peak Time Occupancy\": false }",
        "payloadType": "json",
        "x": 310,
        "y": 780,
        "wires": [
            [
                "afd8a70aebc5bd26",
                "4c80d104d462e6fb"
            ]
        ]
    },
    {
        "id": "5f31428fe1361941",
        "type": "inject",
        "z": "77c163b0639d1fbd",
        "name": "table_3_seat_3",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "16",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "table_3_seat_3",
        "payload": "{   \"Desk ID\": 3,   \"Seat ID\": 3,   \"Start Time\": \"23/11/2023 06:45\",   \"End Time\": \"23/11/2023 08:30\",   \"Duration\": 105,   \"Peak Time Occupancy\": false }",
        "payloadType": "json",
        "x": 310,
        "y": 840,
        "wires": [
            [
                "af453a9566abbbd8",
                "4c80d104d462e6fb"
            ]
        ]
    },
    {
        "id": "fab3eb3abdfe69fa",
        "type": "inject",
        "z": "77c163b0639d1fbd",
        "name": "table_3_seat_4",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "19",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "table_3_seat_4",
        "payload": "{   \"Desk ID\": 3,   \"Seat ID\": 4,   \"Start Time\": \"23/11/2023 06:45\",   \"End Time\": \"23/11/2023 08:30\",   \"Duration\": 105,   \"Peak Time Occupancy\": false }",
        "payloadType": "json",
        "x": 310,
        "y": 900,
        "wires": [
            [
                "8894ccac24dc2cef",
                "4c80d104d462e6fb"
            ]
        ]
    },
    {
        "id": "665146974e0e8baa",
        "type": "debug",
        "z": "77c163b0639d1fbd",
        "name": "table_3_seat_1_debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 720,
        "wires": []
    },
    {
        "id": "afd8a70aebc5bd26",
        "type": "debug",
        "z": "77c163b0639d1fbd",
        "name": "table_3_seat_2_debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 780,
        "wires": []
    },
    {
        "id": "af453a9566abbbd8",
        "type": "debug",
        "z": "77c163b0639d1fbd",
        "name": "table_3_seat_3_debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 840,
        "wires": []
    },
    {
        "id": "8894ccac24dc2cef",
        "type": "debug",
        "z": "77c163b0639d1fbd",
        "name": "table_3_seat_4_debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 900,
        "wires": []
    },
    {
        "id": "5e89e8b1af819e2f",
        "type": "inject",
        "z": "77c163b0639d1fbd",
        "name": "table_4_seat_1",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "3",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "table_4_seat_1",
        "payload": "{   \"Desk ID\": 4,   \"Seat ID\": 1,   \"Start Time\": \"23/11/2023 06:45\",   \"End Time\": \"23/11/2023 08:30\",   \"Duration\": 105,   \"Peak Time Occupancy\": false }",
        "payloadType": "json",
        "x": 310,
        "y": 980,
        "wires": [
            [
                "4c80d104d462e6fb",
                "e18da719476f74ea"
            ]
        ]
    },
    {
        "id": "1c2c6da674d03bbc",
        "type": "inject",
        "z": "77c163b0639d1fbd",
        "name": "table_4_seat_2",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "7",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "table_4_seat_2",
        "payload": "{   \"Desk ID\": 4,   \"Seat ID\": 2,   \"Start Time\": \"23/11/2023 06:45\",   \"End Time\": \"23/11/2023 08:30\",   \"Duration\": 105,   \"Peak Time Occupancy\": false }",
        "payloadType": "json",
        "x": 310,
        "y": 1040,
        "wires": [
            [
                "4c80d104d462e6fb",
                "b0d0893018679ad4"
            ]
        ]
    },
    {
        "id": "c5bf61ed97eff6c9",
        "type": "inject",
        "z": "77c163b0639d1fbd",
        "name": "table_4_seat_3",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "14",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "table_4_seat_3",
        "payload": "{   \"Desk ID\": 4,   \"Seat ID\": 3,   \"Start Time\": \"23/11/2023 06:45\",   \"End Time\": \"23/11/2023 08:30\",   \"Duration\": 105,   \"Peak Time Occupancy\": false }",
        "payloadType": "json",
        "x": 310,
        "y": 1100,
        "wires": [
            [
                "4c80d104d462e6fb",
                "7dbf3f88f68eec48"
            ]
        ]
    },
    {
        "id": "420b3f5bdb8f20ef",
        "type": "inject",
        "z": "77c163b0639d1fbd",
        "name": "table_4_seat_4",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "23",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "table_4_seat_4",
        "payload": "{   \"Desk ID\": 4,   \"Seat ID\": 4,   \"Start Time\": \"23/11/2023 06:45\",   \"End Time\": \"23/11/2023 08:30\",   \"Duration\": 105,   \"Peak Time Occupancy\": false }",
        "payloadType": "json",
        "x": 310,
        "y": 1160,
        "wires": [
            [
                "4c80d104d462e6fb",
                "e0affd949003c752"
            ]
        ]
    },
    {
        "id": "65eb3dda5a1ed990",
        "type": "inject",
        "z": "77c163b0639d1fbd",
        "name": "table_5_seat_1",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "25",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "table_5_seat_1",
        "payload": "{   \"Desk ID\": 5,   \"Seat ID\": 1,   \"Start Time\": \"23/11/2023 06:45\",   \"End Time\": \"23/11/2023 08:30\",   \"Duration\": 105,   \"Peak Time Occupancy\": false }",
        "payloadType": "json",
        "x": 310,
        "y": 1240,
        "wires": [
            [
                "4c80d104d462e6fb",
                "cc01f5101b24a4dd"
            ]
        ]
    },
    {
        "id": "213b4cc6ee181c88",
        "type": "inject",
        "z": "77c163b0639d1fbd",
        "name": "table_5_seat_2",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "37",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "table_5_seat_2",
        "payload": "{   \"Desk ID\": 5,   \"Seat ID\": 2,   \"Start Time\": \"23/11/2023 06:45\",   \"End Time\": \"23/11/2023 08:30\",   \"Duration\": 105,   \"Peak Time Occupancy\": false }",
        "payloadType": "json",
        "x": 310,
        "y": 1300,
        "wires": [
            [
                "4c80d104d462e6fb",
                "32ff05c7c4af29f8"
            ]
        ]
    },
    {
        "id": "a6aee12f1480ec61",
        "type": "inject",
        "z": "77c163b0639d1fbd",
        "name": "table_5_seat_3",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "75",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "table_5_seat_3",
        "payload": "{   \"Desk ID\": 5,   \"Seat ID\": 3,   \"Start Time\": \"23/11/2023 06:45\",   \"End Time\": \"23/11/2023 08:30\",   \"Duration\": 105,   \"Peak Time Occupancy\": false }",
        "payloadType": "json",
        "x": 310,
        "y": 1360,
        "wires": [
            [
                "4c80d104d462e6fb",
                "c3db101820e144c8"
            ]
        ]
    },
    {
        "id": "79aa10e2752c0fe1",
        "type": "inject",
        "z": "77c163b0639d1fbd",
        "name": "table_5_seat_4",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "120",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "table_5_seat_4",
        "payload": "{   \"Desk ID\": 5,   \"Seat ID\": 4,   \"Start Time\": \"23/11/2023 06:45\",   \"End Time\": \"23/11/2023 08:30\",   \"Duration\": 105,   \"Peak Time Occupancy\": false }",
        "payloadType": "json",
        "x": 310,
        "y": 1420,
        "wires": [
            [
                "4c80d104d462e6fb",
                "e6ef887b3b1dbf0e"
            ]
        ]
    },
    {
        "id": "8be566216afb1218",
        "type": "inject",
        "z": "77c163b0639d1fbd",
        "name": "table_6_seat_1",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "53",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "table_6_seat_1",
        "payload": "{   \"Desk ID\": 6,   \"Seat ID\": 1,   \"Start Time\": \"23/11/2023 06:45\",   \"End Time\": \"23/11/2023 08:30\",   \"Duration\": 105,   \"Peak Time Occupancy\": false }",
        "payloadType": "json",
        "x": 310,
        "y": 1500,
        "wires": [
            [
                "4c80d104d462e6fb",
                "8ee792bf5319cbfc"
            ]
        ]
    },
    {
        "id": "18ae72a1f558d88d",
        "type": "inject",
        "z": "77c163b0639d1fbd",
        "name": "table_6_seat_2",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "14",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "table_6_seat_2",
        "payload": "{   \"Desk ID\": 6,   \"Seat ID\": 2,   \"Start Time\": \"23/11/2023 06:45\",   \"End Time\": \"23/11/2023 08:30\",   \"Duration\": 105,   \"Peak Time Occupancy\": false }",
        "payloadType": "json",
        "x": 310,
        "y": 1560,
        "wires": [
            [
                "4c80d104d462e6fb",
                "1cae2c21d13bc7bc"
            ]
        ]
    },
    {
        "id": "e6830277fab207a3",
        "type": "inject",
        "z": "77c163b0639d1fbd",
        "name": "table_6_seat_3",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "73",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "table_6_seat_3",
        "payload": "{   \"Desk ID\": 6,   \"Seat ID\": 3,   \"Start Time\": \"23/11/2023 06:45\",   \"End Time\": \"23/11/2023 08:30\",   \"Duration\": 105,   \"Peak Time Occupancy\": false }",
        "payloadType": "json",
        "x": 310,
        "y": 1620,
        "wires": [
            [
                "4c80d104d462e6fb",
                "896d0bb12f88e502"
            ]
        ]
    },
    {
        "id": "dc56c70efdef1c5f",
        "type": "inject",
        "z": "77c163b0639d1fbd",
        "name": "table_6_seat_4",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "49",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "table_6_seat_4",
        "payload": "{   \"Desk ID\": 6,   \"Seat ID\": 4,   \"Start Time\": \"23/11/2023 06:45\",   \"End Time\": \"23/11/2023 08:30\",   \"Duration\": 105,   \"Peak Time Occupancy\": false }",
        "payloadType": "json",
        "x": 310,
        "y": 1680,
        "wires": [
            [
                "4c80d104d462e6fb",
                "79184ca440470f08"
            ]
        ]
    },
    {
        "id": "ab0ba2571603d9f5",
        "type": "inject",
        "z": "77c163b0639d1fbd",
        "name": "table_7_seat_1",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "table_6_seat_1",
        "payload": "{   \"Desk ID\": 7,   \"Seat ID\": 1,   \"Start Time\": \"23/11/2023 06:45\",   \"End Time\": \"23/11/2023 08:30\",   \"Duration\": 105,   \"Peak Time Occupancy\": false }",
        "payloadType": "json",
        "x": 310,
        "y": 1760,
        "wires": [
            [
                "4c80d104d462e6fb",
                "8beb3037a4ed0a8c"
            ]
        ]
    },
    {
        "id": "dda0d41fbf1ca4ad",
        "type": "inject",
        "z": "77c163b0639d1fbd",
        "name": "table_7_seat_2",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "9",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "table_6_seat_2",
        "payload": "{   \"Desk ID\": 6,   \"Seat ID\": 2,   \"Start Time\": \"23/11/2023 06:45\",   \"End Time\": \"23/11/2023 08:30\",   \"Duration\": 105,   \"Peak Time Occupancy\": false }",
        "payloadType": "json",
        "x": 310,
        "y": 1820,
        "wires": [
            [
                "4c80d104d462e6fb",
                "188faa20ca733c96"
            ]
        ]
    },
    {
        "id": "e58a12a47741f603",
        "type": "inject",
        "z": "77c163b0639d1fbd",
        "name": "table_7_seat_3",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "21",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "table_7_seat_3",
        "payload": "{   \"Desk ID\": 7,   \"Seat ID\": 3,   \"Start Time\": \"23/11/2023 06:45\",   \"End Time\": \"23/11/2023 08:30\",   \"Duration\": 105,   \"Peak Time Occupancy\": false }",
        "payloadType": "json",
        "x": 310,
        "y": 1880,
        "wires": [
            [
                "4c80d104d462e6fb",
                "c53dd249439fe2f5"
            ]
        ]
    },
    {
        "id": "88fb6ad8d5b16b1c",
        "type": "inject",
        "z": "77c163b0639d1fbd",
        "name": "table_7_seat_4",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "57",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "table_7_seat_4",
        "payload": "{   \"Desk ID\": 6,   \"Seat ID\": 4,   \"Start Time\": \"23/11/2023 06:45\",   \"End Time\": \"23/11/2023 08:30\",   \"Duration\": 105,   \"Peak Time Occupancy\": false }",
        "payloadType": "json",
        "x": 310,
        "y": 1940,
        "wires": [
            [
                "4c80d104d462e6fb",
                "a624e0c102d9ae11"
            ]
        ]
    },
    {
        "id": "e18da719476f74ea",
        "type": "debug",
        "z": "77c163b0639d1fbd",
        "name": "table_4_seat_1_debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 980,
        "wires": []
    },
    {
        "id": "b0d0893018679ad4",
        "type": "debug",
        "z": "77c163b0639d1fbd",
        "name": "table_4_seat_2_debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 1040,
        "wires": []
    },
    {
        "id": "7dbf3f88f68eec48",
        "type": "debug",
        "z": "77c163b0639d1fbd",
        "name": "table_4_seat_3_debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 1100,
        "wires": []
    },
    {
        "id": "e0affd949003c752",
        "type": "debug",
        "z": "77c163b0639d1fbd",
        "name": "table_4_seat_4_debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 1160,
        "wires": []
    },
    {
        "id": "cc01f5101b24a4dd",
        "type": "debug",
        "z": "77c163b0639d1fbd",
        "name": "table_5_seat_1_debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 1240,
        "wires": []
    },
    {
        "id": "32ff05c7c4af29f8",
        "type": "debug",
        "z": "77c163b0639d1fbd",
        "name": "table_5_seat_2_debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 1300,
        "wires": []
    },
    {
        "id": "c3db101820e144c8",
        "type": "debug",
        "z": "77c163b0639d1fbd",
        "name": "table_5_seat_3_debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 1360,
        "wires": []
    },
    {
        "id": "e6ef887b3b1dbf0e",
        "type": "debug",
        "z": "77c163b0639d1fbd",
        "name": "table_5_seat_4_debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 1420,
        "wires": []
    },
    {
        "id": "8ee792bf5319cbfc",
        "type": "debug",
        "z": "77c163b0639d1fbd",
        "name": "table_6_seat_1_debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 1500,
        "wires": []
    },
    {
        "id": "1cae2c21d13bc7bc",
        "type": "debug",
        "z": "77c163b0639d1fbd",
        "name": "table_6_seat_2_debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 1560,
        "wires": []
    },
    {
        "id": "896d0bb12f88e502",
        "type": "debug",
        "z": "77c163b0639d1fbd",
        "name": "table_6_seat_3_debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 1620,
        "wires": []
    },
    {
        "id": "79184ca440470f08",
        "type": "debug",
        "z": "77c163b0639d1fbd",
        "name": "table_6_seat_4_debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 1680,
        "wires": []
    },
    {
        "id": "8beb3037a4ed0a8c",
        "type": "debug",
        "z": "77c163b0639d1fbd",
        "name": "table_7_seat_1_debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 1760,
        "wires": []
    },
    {
        "id": "188faa20ca733c96",
        "type": "debug",
        "z": "77c163b0639d1fbd",
        "name": "table_7_seat_2_debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 1820,
        "wires": []
    },
    {
        "id": "c53dd249439fe2f5",
        "type": "debug",
        "z": "77c163b0639d1fbd",
        "name": "table_7_seat_3_debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 1880,
        "wires": []
    },
    {
        "id": "a624e0c102d9ae11",
        "type": "debug",
        "z": "77c163b0639d1fbd",
        "name": "table_7_seat_4_debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 1940,
        "wires": []
    },
    {
        "id": "bac4626e97335288",
        "type": "inject",
        "z": "77c163b0639d1fbd",
        "name": "pod_1_seat_1",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "63",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "pod_1_seat_1",
        "payload": "{   \"Desk ID\": 8,   \"Seat ID\": 1,   \"Start Time\": \"23/11/2023 06:45\",   \"End Time\": \"23/11/2023 08:30\",   \"Duration\": 105,   \"Peak Time Occupancy\": false }",
        "payloadType": "json",
        "x": 300,
        "y": 2300,
        "wires": [
            [
                "b2b63574a518c9dc",
                "4c80d104d462e6fb"
            ]
        ]
    },
    {
        "id": "52e71a72c9620c52",
        "type": "inject",
        "z": "77c163b0639d1fbd",
        "name": "pod_1_seat_2",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "41",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "pod_1_seat_2",
        "payload": "{   \"Desk ID\": 8,   \"Seat ID\": 2,   \"Start Time\": \"23/11/2023 06:45\",   \"End Time\": \"23/11/2023 08:30\",   \"Duration\": 105,   \"Peak Time Occupancy\": false }",
        "payloadType": "json",
        "x": 300,
        "y": 2360,
        "wires": [
            [
                "bfadf5372d54bc17",
                "4c80d104d462e6fb"
            ]
        ]
    },
    {
        "id": "b242953d1bc67f35",
        "type": "inject",
        "z": "77c163b0639d1fbd",
        "name": "pod_1_seat_3",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "8",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "pod_1_seat_3",
        "payload": "{   \"Desk ID\": 8,   \"Seat ID\": 3,   \"Start Time\": \"23/11/2023 06:45\",   \"End Time\": \"23/11/2023 08:30\",   \"Duration\": 105,   \"Peak Time Occupancy\": false }",
        "payloadType": "json",
        "x": 300,
        "y": 2420,
        "wires": [
            [
                "e163dac1f99731bb",
                "4c80d104d462e6fb"
            ]
        ]
    },
    {
        "id": "c153e488f39590c3",
        "type": "inject",
        "z": "77c163b0639d1fbd",
        "name": "pod_1_seat_4",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "21",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "table_1_seat_4",
        "payload": "{   \"Desk ID\": 8,   \"Seat ID\": 4,   \"Start Time\": \"23/11/2023 06:45\",   \"End Time\": \"23/11/2023 08:30\",   \"Duration\": 105,   \"Peak Time Occupancy\": false }",
        "payloadType": "json",
        "x": 300,
        "y": 2480,
        "wires": [
            [
                "539d925296c7d32a",
                "4c80d104d462e6fb"
            ]
        ]
    },
    {
        "id": "fdbcf0b9c3daf214",
        "type": "inject",
        "z": "77c163b0639d1fbd",
        "name": "pod_1_seat_5",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "35",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "pod_1_seat_5",
        "payload": "{   \"Desk ID\": 8,   \"Seat ID\": 5,   \"Start Time\": \"23/11/2023 06:45\",   \"End Time\": \"23/11/2023 08:30\",   \"Duration\": 105,   \"Peak Time Occupancy\": false }",
        "payloadType": "json",
        "x": 300,
        "y": 2540,
        "wires": [
            [
                "fd167a7004f3554c",
                "4c80d104d462e6fb"
            ]
        ]
    },
    {
        "id": "aa76427624ad50f5",
        "type": "inject",
        "z": "77c163b0639d1fbd",
        "name": "pod_1_seat_6",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "23",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "pod_1_seat_6",
        "payload": "{   \"Desk ID\": 8,   \"Seat ID\": 6,   \"Start Time\": \"23/11/2023 06:45\",   \"End Time\": \"23/11/2023 08:30\",   \"Duration\": 105,   \"Peak Time Occupancy\": false }",
        "payloadType": "json",
        "x": 300,
        "y": 2600,
        "wires": [
            [
                "471326a5fc431bd2",
                "4c80d104d462e6fb"
            ]
        ]
    },
    {
        "id": "b2b63574a518c9dc",
        "type": "debug",
        "z": "77c163b0639d1fbd",
        "name": "pod_1_seat_1_debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 2300,
        "wires": []
    },
    {
        "id": "bfadf5372d54bc17",
        "type": "debug",
        "z": "77c163b0639d1fbd",
        "name": "pod_1_seat_2_debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 2360,
        "wires": []
    },
    {
        "id": "e163dac1f99731bb",
        "type": "debug",
        "z": "77c163b0639d1fbd",
        "name": "pod_1_seat_3_debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 2420,
        "wires": []
    },
    {
        "id": "539d925296c7d32a",
        "type": "debug",
        "z": "77c163b0639d1fbd",
        "name": "pod_1_seat_4_debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 2480,
        "wires": []
    },
    {
        "id": "fd167a7004f3554c",
        "type": "debug",
        "z": "77c163b0639d1fbd",
        "name": "pod_1_seat_5_debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 2540,
        "wires": []
    },
    {
        "id": "471326a5fc431bd2",
        "type": "debug",
        "z": "77c163b0639d1fbd",
        "name": "pod_1_seat_6_debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 2600,
        "wires": []
    }
]